span#span-task {
  cursor: pointer;
  font-size: 20px;
}
span#span-task i {
  visibility: hidden;
  margin-left: 20px;
}
span#span-task:hover i {
  visibility: visible;
  color: #3d5ccc;
  margin-left: 20px;
}

span#span-task input[type="checkbox"] {
  margin-right: 20px;
  height: 15px;
  width: 15px;
  float: left;
  cursor: pointer;
  margin-top: 6px;
  /* todo -> Beautify checkbox */
}