span#span-task {
  cursor: pointer;
  font-size: 20px;
}
span#span-task i {
  visibility: hidden;
  margin-left: 20px;
}
span#span-task:hover i {
  visibility: visible;
  color: #0d42ff;
  margin-left: 20px;
}

input[type='checkbox']{
  margin-left: 20px;
  /* todo -> change position of checkbox ( left to right) */
  /* todo -> Beautify checkbox */
}